body
{
	background-image:url(images/pic1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;

}
body{ 
					 width: 500px;
					height:400px;
					margin: 0px auto;
					 border: 10px solid black;
					 
			
				}
				
		
